# Nicobot config.yml file to use for deployment (will be loaded as a Docker secret)
#NICOBOT_CONFIG_FILE=config.yml

# Base image to use to build the signal-debian variant
#NICOBOT_DEBIAN_FROM=nicolabs/nicobot:dev-signal-debian

# Alternate Dockerfile to use for deployment (use it to override static and non-sensitive files directly in the image)
#NICOBOT_DEPLOY_DOCKERFILE=deploy.Dockerfile

# Image to build FROM for deployment
#NICOBOT_DEPLOY_BASE_IMAGE=nicolabs/nicobot:dev-signal-debian

# Image name to build specifically for deployment
#NICOBOT_DEPLOY_IMAGE=nicolabs/nicobot:mydeploy
